/* style.css */
:root {
  --container-height: 400px;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  background-color: #f5f5f5;
  color: #3c3f42;
  margin: 0;
  padding: 0;
}

/* Center the card in the bullseye layout */
.pf-v5-l-bullseye {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

/* Style the card */
.pf-v5-c-card {
  width: 450px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid #d2d2d2;

  resize: both;
  overflow:auto;
  height: var(--container-height);
  min-height: var(--container-height);
  min-width: 280px;
  width: 500px; 
}

.pf-v5-c-card__title {
  background-color: #3c3f42;
  color: white;
  padding: 16px;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

/* Message area styling */
#messageArea {
  padding: 16px;
  height: 300px;
  /* overflow-y: auto; */
  background-color: #fafafa;
  border-bottom: 1px solid #d2d2d2;

  height: calc(100% - 105px);
  min-height: calc(var(--container-height) - 175px);
  overflow-y: scroll;
}

/* Input group styling */
.pf-v5-c-input-group {
  display: flex;
  padding: 16px;
}

.pf-v5-c-form-control {
  flex: 1;
  padding: 12px;
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  font-size: 14px;
}

.pf-v5-c-card__body {
  height: calc(100% - 70px);
}

.pf-v5-c-button.pf-m-primary {
  margin-left: 8px;
  background-color: #cc0000;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

/* Chat message styles */
.pf-v5-c-chat__message {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 6px;
  font-size: 14px;
}

.pf-m-right {
  background-color: #0066cc;
  color: white;
  text-align: right;
}

.pf-m-left {
  background-color: #ededed;
  color: #3c3f42;
}

.pf-v5-c-chat__message-text strong {
  font-weight: 600;
}

/* Scrollbar styling for message area */
#messageArea::-webkit-scrollbar {
  width: 8px;
}

#messageArea::-webkit-scrollbar-thumb {
  background-color: #d2d2d2;
  border-radius: 4px;
}

/* Dot Pulse Loader */
.dot-pulse {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #cc0000;
  animation: dotPulse 1.5s infinite linear;
}

@keyframes dotPulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
